[Desktop Entry]
Comment[en_US]=
Comment=
Exec=tapitocam.sh
GenericName[en_US]=TapitoCAM
GenericName=TapitoCAM
Icon=camera-app
MimeType=
Name[en_US]=TapitoCAM
Name=TapitoCAM
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
