[Desktop Entry]
Comment[en_US]=
Comment=
Exec=tapitocam.sh
GenericName[en_US]=
GenericName=tapitoCAM
Icon=camera-app
MimeType=
Name[en_US]=tapitoCAM
Name=tapitoCAM
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
